<footer>
    <nav class="navbar fixed-bottom navbar-dark">
      <ul class="navbar-nav mx-auto">
        <p><small>&copy; Copyright 2023. All Rights Reserved. </small></p>
      </ul>
    </nav>
</footer>