<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<!-- using containers to seperate -->
  <section class="contact">
    <div class="contact-content">
        <h2>Contact Me</h2>
        <p>For furthur information or inqueries, contact me through here.</p>
    </div>

    <div class="container-contact">
      <div class="contact-info">

        <div class="box-info">
          <div class="icon">
            <i class="fa-sharp fa-solid fa-mobile-button"></i>
          </div>

          <div class="text-details">
            <h3>Phone</h3>
            <p>(437) 260-4913</p>
          </div>
        </div>

        <div class="box-info">
          <div class="icon">
            <i class="fa-regular fa-envelope"></i>
          </div>

          <div class="text-details">
            <h3>Email</h3>
            <p>jasperjantan1996@gmail.com</p>
          </div>
        </div>
        
        <div class="box-info">
          <div class="icon">
            <i class="fa-solid fa-location-pin"></i>
          </div>

          <div class="text-details">
            <h3>Address</h3>
            <p>#97 601 Shoreline Drive,<br>Mississauga, ON,<br>L5B 4K3</p>
          </div>
        </div>  
      </div>


        <div class="contact-form">
          <form action="/home">
            <h2>Send Message</h2>

            <div class="inputBox">
              <input type="text" name="" required="required"/>
              <span>Full Name</span>
            </div>

            <div class="inputBox">
              <input type="text" name="" required="required"/>
              <span>Email Address</span>
            </div>

            <div class="inputBox">
              <textarea required="required"></textarea>
              <span>Type your inquiry</span>
            </div>

            <div class="inputBox">
              <input type="submit" value="Send"/>
            </div>
          </form>
        </div>
      </div>
    </div>


  </section>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
