<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="projects">

  <div class="proj-content">
    <h2>My Projects</h2>
    <p>Here are some of the projects that i've helped developed.</p>
  </div>

  <div class="card-content">

    <div class="card-proj">
      <img src="/assets/images/pos_system.jpg" alt="Avatar" width=200px height=150px">
      <div class="container-proj">
        <h4><b>POS System</b></h4>
        <h5>Role: Calculation logic and peripherals communication</h5>
        <h6>A simple point of sale system developed for a mini-mart for a small business owner.</h6>
      </div>
    </div>

    <div class="card-proj">
      <img src="/assets/images/trainer.jpg" alt="Avatar" width=200px height=150px">
      <div class="container-proj">
        <h4><b>Microcontroller Trainer</b></h4>
        <h5>Role: Developed some modules and Tester</h5>
        <h6>A trainer developed for our university for the use of future students.</h6>
      </div>
    </div>

    <div class="card-proj">
      <img src="/assets/images/inventory.jpg" alt="Avatar" width=200px height=150px">
      <div class="container-proj">
        <h4><b>Inventory System</b></h4>
        <h5>Role: Developed the database and some Business logic</h5>
        <h6>An inventory system made for a clothing store.</h6>
      </div>
    </div>

</div>

</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
