<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<!-- about me page -->

<main class="about">
  <div class="about-main">
    <img src="/assets/images/about_me_pic_bw.png" width="auto" height="400">
    <div class="about-text">
    <h1><span>About me</span></h1>
    <h2><span>Software Developer</span></h2>
    <p>
      Hello! The name's Jasper Jan Tan. You may call me Jazz if you want. 
      I am a Software Engineer who specializes in Security. I can detect and troubleshoot
      exploits on your software to make sure it is safe from hackers. <br>
      <br>
      I have a passion for technology. Some of my hobbies are tinkering with 
      with microcontrollers, audio devices such as IEM, and customizing 
      computer peripherals such as mouse and keyboards.
    </p>
      <a href ="https://drive.google.com/file/d/1Q5DLJH1slNS-fvT_BRlDGzLO9Fl6prr2/view?usp=share_link" target="_blank">
        <button type="button" class="btn btn-outline-warning">Download CV</button>
      </a>

      <a href ="https://github.com/jjtan1996" target="_blank">
        <button type="button" class="btn btn-outline-warning">My Github</button>
      </a>
    </div>
  </div>
</main> 

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
